:root {
    --primary-text: #ffffffcc;
    --primary-orange: #ff6347;
    --primary-grey: #f7f7f7;
    --primary-black: #0b0b13;
    --secondary-black: #1C1C1C;
    --border-grey: #D9D9D9;
    --primary-dark: #10101a;
    --secondary-dark: #0c0c14;

    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}